.fixedHeader {
  background: rgba(255, 255, 255, 0.96);
  top: 68px;
  width: 100%;
  z-index: 10; }

button {
  outline: none; }

.fixed {
  position: fixed; }

.contentRow {
  margin: auto;
  width: 756px; }

.ownLeftButtons {
  vertical-align: middle; }

.ownLeftButtons button em {
  display: inline-block; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.col-12 {
  width: 100%;
  padding: 3px 0; }

.col-3 {
  width: 25%; }

.col-6 {
  width: 50%; }

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.Button {
  border: none;
  outline: none;
  margin: 5px;
  padding: 1px 6px; }

.iconButton {
  background: transparent;
  /* border: none; */
  height: 38px;
  width: 38px; }

button {
  vertical-align: middle;
  margin: 0px; }

.Button .accessibilityText {
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent;
  position: absolute; }

.ownLeftButtons .bu:hover {
  background: #F0F0F0;
  border-radius: 50%; }

.editSettingsButton em {
  width: 28px;
  height: 24px;
  background: url("../img/w.png") -221px -234px no-repeat;
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent; }

.sendProfileButton em {
  width: 24px;
  height: 24px;
  background: url("../img/w.png") -50px -310px no-repeat;
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent; }

.userMenuButton em {
  width: 24px;
  height: 6px;
  background: url("../img/w.png") -209px -296px no-repeat;
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent; }

.ownLeftButtons ul .bu {
  display: inline-block; }

.Button em {
  outline: none;
  position: relative;
  vertical-align: middle; }

.boardName.transitionIn {
  -webkit-animation: fadeInDown 200ms forwards ease-in;
  animation: fadeInDown 200ms forwards ease-in; }

@keyframes fadeInDown {
  from {
    top: -50px; }
  to {
    top: 0px; } }
.boardName.transitionOut {
  -webkit-animation: fadeOutUp 200ms forwards ease-in;
  animation: fadeOutUp 200ms forwards ease-in; }

@keyframes fadeOutUp {
  from {
    top: 0px; }
  to {
    top: -50px; } }
.relative {
  position: relative; }

.boardName {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 10px;
  top: -50px;
  -webkit-text-stroke: 0.5px #000;
  text-shadow: 0px -1px 1px #84DDA7; }

.userDropdown {
  background: #fff;
  opacity: 1; }

.positionModuleCaret {
  width: 29px;
  height: 15px;
  background: url("../img/w.png") -345px -310px no-repeat;
  height: 11px !important;
  position: absolute;
  z-index: 686;
  top: -11px; }

a {
  display: block; }

.positionModuleElement {
  -webkit-transform: translateZ(0);
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.07);
  position: absolute;
  z-index: 685; }
  .positionModuleElement li {
    overflow: hidden;
    color: #777;
    display: block;
    font-size: 12px; }
  .positionModuleElement a {
    padding: 7px 18px;
    color: #555;
    font-weight: bold;
    font-size: 12px; }
  .positionModuleElement a:hover {
    background: #F1F1F1;
    text-decoration: none; }
  .positionModuleElement a:visited {
    text-decoration: none; }
  .positionModuleElement a:link {
    text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

.UserDropdown li:first-child a {
  border-radius: 6px 6px 0 0;
  padding-top: 10px; }

.UserDropdown li:last-child a {
  border-radius: 0 0 6px 6px;
  padding-bottom: 10px; }

.flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0; }

.mr5 {
  margin-right: 40px;
  font-size: 36px; }

.mt3 {
  margin-top: 18px;
  margin-bottom: 12px; }
  .mt3 a {
    color: #b4b4b4; }
  .mt3 .block {
    color: #555; }

._2MT4z {
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 16px;
  word-spacing: 0; }

.block {
  display: block; }

.flex-auto {
  margin-right: 16px; }

.flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none; }

.imageWash {
  background: rgba(0, 0, 0, 0.05);
  height: 156px;
  width: 156px;
  border-radius: 50%; }

.absolute {
  position: absolute; }

.contentRow img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

.py4 {
  padding-bottom: 24px;
  padding-top: 24px; }
  .py4 .mxn2 {
    margin-left: -16px;
    margin-right: -16px; }
  .py4 a {
    color: #717171;
    font-weight: bold;
    text-decoration: none; }
  .py4 .py2 {
    padding: 12px 16px; }
  .py4 ._1sEX9 {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 18px;
    word-spacing: 0; }

.tabBar .tabItem.active .tabText {
  color: #555; }

.tabBar .tabItem.active {
  background-color: #efefef;
  border-radius: 100px; }

input, textarea, keygen, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 13.3333px Arial; }

@media (min-width: 360px) {
  .py2 > ul > li {
    padding-bottom: 8px;
    padding-top: 8px; } }
.UserProfileContent {
  position: relative; }

.userBoards {
  overflow-y: auto; }

@media (min-width: 800px) {
  .mb4 {
    margin-bottom: 24px; } }
.GridItems.centeredWithinWrapper {
  margin-bottom: 14px;
  padding-bottom: 4px; }

@media (max-width: 974px) and (min-width: 650px) {
  .ProfileGrid3col .centeredWithinWrapper {
    width: 650px; } }
.GridItems {
  margin: 0 auto 14px;
  position: relative; }

.cardWrapper {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-top: 9px; }

@media (min-width: 800px) {
  .py3 {
    padding-bottom: 18px;
    padding-top: 18px; } }
.createCard {
  background: transparent;
  border: 0; }

.GridItems .item {
  -webkit-transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.ProfileBoardCard {
  padding: 10px; }

.ProfileBoardCard:hover {
  background: #f3f3f3;
  overflow: hidden;
  border-radius: 8px; }

.ProfileBoardCard .createCard {
  background: transparent;
  border: 0; }

#editButton {
  display: none; }
  #editButton button {
    background: #e4e4e4; }
  #editButton button:hover {
    background: #D7D7D7; }

#ProfileBoardCard:hover #editButton {
  display: block; }

.p0 {
  padding: 0px 0px; }

._330sB {
  border-radius: 8px; }

._2dJwQ {
  position: relative; }

._2pHR3 {
  overflow: hidden; }

.bg-super-light-gray, .UserProfilePage .UserProfileContent .User .thumbContainer {
  background-color: #e4e4e4; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.createRep i {
  margin: auto;
  vertical-align: middle; }

.createRep i::before {
  width: 56px;
  height: 56px;
  background: url(../img/w.png) -62px -234px no-repeat;
  display: inline-block;
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent;
  content: " "; }

.cardWrapper .py2 {
  padding: 12px 8px; }

.OyBct {
  color: #b5b5b5;
  font-weight: bold; }

._2XmQx {
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 20px;
  word-spacing: 0; }

.mt1 {
  margin-top: 6px; }

.py1 {
  padding: 6px 8px; }

.OyBct span {
  color: #b5b5b5; }

/*# sourceMappingURL=user.css.map */
