<!DOCTYPE html>
<html>
<head>
    <title>OwO</title>
    {block name="include"}{include file="public:header" /}
    {include file="public:u" /}{/block}
</head>
<body>
<div>
    <div>
        <div>
            <div class="contentRow py4">
                <div class="flex flex-wrap tabBar mxn2">
                    <a href="{:Url('boards')}">
                        <div class="tabItem px2 py2">
                            <div class="_1XZUm _2gVa_ _1sEX9 _3soYM _3En_g yv_ub">
                                <div class="tabText">Boards</div>
                            </div>
                        </div>
                    </a>
                    <a href="##">
                        <div class="tabItem px2 py2 active">
                            <div class="_1XZUm _2gVa_ _1sEX9 _3soYM _3En_g yv_ub">
                                <div class="tabText">Pins</div>
                            </div>
                        </div>
                    </a>
                    <a href="{:Url('likes')}">
                        <div class="tabItem px2 py2">
                            <div class="_1XZUm _2gVa_ _1sEX9 _3soYM _3En_g yv_ub">
                                <div class="tabText">Likes</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="aaa">

</div>
<script id="waterfall-template" >
$(function() {
    $.post("{:Url('test')}",function(json){
        for (var i = json.me.length - 1; i >= 0; i--) {
            $d = json.me[i].bname;
            $b = json.me[i].bid;
            $('.aaa').append('<div>'+$d+'<div class="bbb"></div></div>');
            // console.log($d );
            if (json.me[i].count > 0) {
                $.post("{:Url('test2')}",{id:json.me[i].bid},function(json2){
                for (var j = 5; j >= 0; j--) {
                    $c = json2.me2[j].url;
                    // if (json2.me2[j].bid ==  json.me[i].bid){
                         $('.bbb').append('<img style="width:100px;" src="_pub_/'+$c+'"'+'>');
                     // }
                     console.log($c);
                    // console.log(json2.me2[i].url);
                }
                // for (var i = json.me.length - 1; i >= 0; i--) {
                //     // console.log(json.me[i].bid);
                // }
            })
            }

        }
    })
})

</script>
<script type="text/javascript">

</script>
<style type="text/css">
</style>
</body>
</html>