<!DOCTYPE html>
<html>
<head>
    <title>OwO</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="_pub_/css/bootstrap.min.css">
<link rel="stylesheet" href="_pub_/css/register.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="_pub_/js/jquery.min.js"></script>
<script src="_pub_/js/vue.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="_pub_/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="overflow:scroll;height:100%;">
        <div class="inlineSignup">
            <div class="backgroundImg re-background" style="background: #fff;">
                <img src="https://s-passets-cache-ak0.pinimg.com/webapp/style/app/common/images/inspired-desktop/bg_everything_grid-1e2b0b11.jpg">
                <div id="overDiv" class="background-i" style="background-image: url('https://s-passets-cache-ak0.pinimg.com/webapp/style/app/common/images/inspired-desktop/bg_everything_grid-1e2b0b11.jpg');padding-bottom: 300px;">
                </div>
            </div>
            <div class="re-wrapper register">
                <div class="logo"></div>
                <div class="title">Sign Up</div>
                <div class="subtitle">Welcome to camU,the world's catalog of ideas</div>
                <div class="userRegister">
                    <form class="" role="">
                    <fieldset><input id="" type="text" class="" placeholder="Email"></fieldset>
                    <fieldset><input id="" type="text" class="" placeholder="Create a password"></fieldset>
                    <div class="signButton">
                        <button>Sign up</button>
                    </div>
                </form>
                <div class="signfooter">
                    Creating an account means you’re okay with
                    <a href="###">Pinterest's Terms of Service, Privacy Policy</a>
                </div>
                </div>

                <button data-toggle="modal" data-target=".bs-example-modal-sm" class="Button Module NavigateButton btn emailLogin hasText rounded" style="/*outline:none;*/box-shadow: 0 0 2px rgba(0,0,0,0.48), 0 1px 3px rgba(0,0,0,0.18);">
                    <span>Log in</span>
                </button>
                <div class="numb">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
            </div>
            <div class="link-l">
                <ul>
                    <li><a href="{:Url('/')}">11</a></li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                </ul>
            </div>
            <div>
                <footer>
                    <ul>
                    <li><a href="{:Url('/')}">11</a></li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                </ul>
                </footer>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <div class="title">Sign Up</div>
                <div class="subtitle">Welcome to camU,the world's catalog of ideas</div>
                <div class="userRegister">
                    <form class="" role="">
                    <fieldset><input id="" type="text" class="" placeholder="Email"></fieldset>
                    <fieldset><input id="" type="text" class="" placeholder="Create a password"></fieldset>
                    <div class="signButton">
                        <button>Log in</button>
                    </div>
                </form>
                <div class="signfooter">
                    Creating an account means you’re okay with
                    <a href="###">Pinterest's Terms of Service, Privacy Policy</a>
                </div>
                </div>

                <button data-toggle="modal" data-target=".bs-example-modal-sm" class="Button Module NavigateButton btn emailLogin hasText rounded" style="/*outline:none;*/box-shadow: 0 0 2px rgba(0,0,0,0.48), 0 1px 3px rgba(0,0,0,0.18);">
                    <span>Sign up</span>
                </button>
            </div>
          </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('').click(function(){
            event.stopPropagation();
        });
        })
    </script>
</body>
</html>